.questions-container{
    .question{
        position: relative;
        margin: 5rem 0;
        .container{
            display: flex;
            flex-direction: column;
            position: relative;
            height: 30rem;
            border-radius: 1rem;
            overflow: hidden;
            z-index: 1;
            background-color: var(--orange);
            .background{
                z-index: -1;
                .ellipse{
                    position: absolute;
                    height: 100%;
                    width: 28rem;
                    border-radius: 100%;
                    width: 28rem;
                    filter: blur(100px);
                }
                .blue{
                    top: 10%;
                    left: -15%;
                    background-color: var(--blue);
                }
                .pink{
                    top: -10%;
                    right: -15%;
                    background-color: var(--pink);
                }
            }
            .content{
                z-index: 1;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                padding-top: 3rem;
                padding-left: 1.5rem;
                .title{
                    font-size: 2rem;
                }
                .image{
                    img{
                        width: 5%;
                    }
                }
                form{
                    margin: 0 1rem;
                    display: flex;
                    flex-direction: row;
                    gap: 5rem;
                    text-transform: capitalize;
                    font-weight: 500;
                    div{
                        display: flex;
                        flex-direction: column;
                    input{
                        margin-top: 1rem;
                        border-radius: 3px;
                        width: 8rem;
                        height: 2rem;
                        font-weight: 500;
                        &:disabled{
                            background-color: var(--blue);
                            color: white;
                        }
                    }
                    }
                }
                .description{
                    white-space: pre-line;
                    font-weight: 700;
                }
            }
        }
        .code{
            margin-top: 2rem;
            border-radius: 0.5rem;
            background-color: var(--accent-color2);
            min-width: 25rem;
            overflow: hidden;
            .code-navbar{
                height: 2rem;
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;
                p{
                    font-size: medium;
                    font-weight: 500;
                }
                button{
                    cursor: pointer;
                    color: white;
                    font-size: medium;
                    font-weight: 500;
                    display: inline-flex;
                    align-items: center;
                    border: none;
                    background-color: var(--accent-color2);
                }
        }
        }
        
    }
}